<!-- #Newton-Rapshon -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Newton raphson </mat-panel-title>
  </mat-expansion-panel-header>
  <div class="container">
    <h2>
      Example Equation:
      <ng-katex [equation]="equation"></ng-katex>
      &nbsp;&nbsp;&nbsp;&nbsp; x0 = {{ ex0 }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the value of x = {{ root }}
    </h2>
    <br />
    <!-- user-input-equation -->
    <h1 id="two-way">
      Your Equation:&nbsp;&nbsp;<ng-katex [equation]="buatifulEq1"
        ></ng-katex
      >the value of x ={{ ans }}
    </h1>
    <div id="two-way-2">
      <div class="container">
        <div class="user-input">
          <form class="example-form">
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label><h3>equation</h3></mat-label>
              <input
                (keyup.enter)="UserEq(userInputEq.value)"
                type="text"
                matInput
                value=""
                #userInputEq
              />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label><h3>x0</h3></mat-label>
              <input
                (keyup.enter)="UserX0(userInputX0.value)"
                type="text"
                matInput
                value=""
                #userInputX0
              />
            </mat-form-field>
          </form>
        </div>
      </div>

      <button mat-raised-button color="primary" (click)="resetData()">
        Clear
      </button>
    </div>
    <br />
    <!-- user-input-equation -->
  </div>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> Result of Newton raphson method </mat-panel-title>
    </mat-expansion-panel-header>
    <div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Iteration -->
        <ng-container matColumnDef="itr">
          <th mat-header-cell *matHeaderCellDef>Iteration</th>
          <td mat-cell *matCellDef="let element">{{ element.itr }}</td>
        </ng-container>

        <!-- Xi -->
        <ng-container matColumnDef="xi">
          <th mat-header-cell *matHeaderCellDef>Xi</th>
          <td mat-cell *matCellDef="let element">{{ element.xi }}</td>
        </ng-container>

        <!-- Error -->
        <ng-container matColumnDef="err">
          <th mat-header-cell *matHeaderCellDef>Error</th>
          <td mat-cell *matCellDef="let element">{{ element.err }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
  </mat-expansion-panel>
  <div class="container">
    <button mat-raised-button color="primary" (click)="graph()">Graph</button>
    <app-newraph-plot
      [x0_data]="x0_data"
      [displayedGraph]="displayGraph"
    ></app-newraph-plot>
  </div>
</mat-expansion-panel>
<!-- #Newton-Rapshon -->
