<!-- #Bisection -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> Bisection </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <div class="container">
      <h2>
        Example Equation:
        <ng-katex [equation]="equation"></ng-katex>
        &nbsp;&nbsp; XL = {{ exl }} &nbsp;&nbsp; XR =
        {{ exr }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the value of x =
        {{ root }}
      </h2>
      <br />
      <!-- user-input-equation -->
      <h1 id="two-way">
        Your Equation:<ng-katex [equation]="buatifulEq"></ng-katex
        >&nbsp;&nbsp;XL : {{ user_xl }} &nbsp;&nbsp; XR :
        {{ user_xr }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the value of x =
        {{ user_ans }}
      </h1>
      <div id="two-way-2">
        <app-user-input
          (userEq)="getUserEq($event)"
          (userXl)="getUserXl($event)"
          (userXr)="getUserXr($event)"
        ></app-user-input>
        <button mat-raised-button color="primary" (click)="resetData()">
          Clear
        </button>
      </div>
      <br />
      <!-- user-input-equation -->
    </div>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Result of Bisection method </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <table mat-table [dataSource]="DATA" class="mat-elevation-z8">
          <!-- Iteration -->
          <ng-container matColumnDef="itr">
            <th mat-header-cell *matHeaderCellDef>Iteration</th>
            <td mat-cell *matCellDef="let element">{{ element.itr }}</td>
          </ng-container>

          <!-- XL -->
          <ng-container matColumnDef="xl">
            <th mat-header-cell *matHeaderCellDef>XL</th>
            <td mat-cell *matCellDef="let element">{{ element.xl }}</td>
          </ng-container>

          <!-- XR -->
          <ng-container matColumnDef="xr">
            <th mat-header-cell *matHeaderCellDef>XR</th>
            <td mat-cell *matCellDef="let element">{{ element.xr }}</td>
          </ng-container>

          <!-- XM -->
          <ng-container matColumnDef="xm">
            <th mat-header-cell *matHeaderCellDef>XM</th>
            <td mat-cell *matCellDef="let element">{{ element.xm }}</td>
          </ng-container>

          <!-- fx -->
          <ng-container matColumnDef="fx">
            <th mat-header-cell *matHeaderCellDef>Fx</th>
            <td mat-cell *matCellDef="let element">{{ element.fx }}</td>
          </ng-container>

          <!-- err -->
          <ng-container matColumnDef="err">
            <th mat-header-cell *matHeaderCellDef>Error</th>
            <td mat-cell *matCellDef="let element">{{ element.err }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-expansion-panel>
  </div>
  <div class="container">
    <button mat-raised-button color="primary" (click)="graph()">
      Graph
    </button>
    <app-graph-plot [x_data]="x_data" [y_data]="y_data" [displayedGraph]="displayGraph"></app-graph-plot>
  </div>
</mat-expansion-panel>
<!-- #Bisection -->
