<!-- #False-Position -->
<mat-expansion-panel>
  <mat-expansion-panel-header>
    <mat-panel-title> False-Position </mat-panel-title>
  </mat-expansion-panel-header>
  <div>
    <h2>
      Example Equation:
      <ng-katex [equation]="equation"></ng-katex>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;the value of x = {{ ans.x }}
    </h2>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Result of False-Position method </mat-panel-title>
      </mat-expansion-panel-header>
      <div>
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <!-- Iteration -->
          <ng-container matColumnDef="itr">
            <th mat-header-cell *matHeaderCellDef>Iteration</th>
            <td mat-cell *matCellDef="let element">{{ element.itr }}</td>
          </ng-container>

          <!-- XL -->
          <ng-container matColumnDef="xl">
            <th mat-header-cell *matHeaderCellDef>XL</th>
            <td mat-cell *matCellDef="let element">{{ element.xl }}</td>
          </ng-container>

          <!-- XR -->
          <ng-container matColumnDef="xr">
            <th mat-header-cell *matHeaderCellDef>XR</th>
            <td mat-cell *matCellDef="let element">{{ element.xr }}</td>
          </ng-container>

          <!-- XM -->
          <ng-container matColumnDef="xm">
            <th mat-header-cell *matHeaderCellDef>XM</th>
            <td mat-cell *matCellDef="let element">{{ element.xm }}</td>
          </ng-container>

          <!-- fx -->
          <ng-container matColumnDef="fx">
            <th mat-header-cell *matHeaderCellDef>Fx</th>
            <td mat-cell *matCellDef="let element">{{ element.fx }}</td>
          </ng-container>

          <!-- err -->
          <ng-container matColumnDef="err">
            <th mat-header-cell *matHeaderCellDef>Error</th>
            <td mat-cell *matCellDef="let element">{{ element.err }}</td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-expansion-panel>
  </div>
</mat-expansion-panel>
